.centerJob{
  align-items:center
}
.metaTags{
  display: block; font-size: 80%; color: #6c757d;width: 50%;
}
.app-button{
  float: right;margin-top: 15px;background-color: lightsteelblue;width: 80%;border-radius: 100px;
}
.filter-header{
  /* background-color: #424242; */
  height: auto;
}
.mat-paginator,.mat-paginator-page-size .mat-select-trigger{
  color: black
}
.mat-select-value{
  color: black !important  ;
}
.mat-select-value-text {
  color: black;
}
paginator-page-size.mat-select-trigger {
  color:black;
}
shadow{
  box-shadow: 5px 10px 18px #888888;
}
