<div class="bg-light" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a [routerLink]="['/job']" (click)="selectedIndex =1;activateClass(1)" [ngClass]="{'active': selectedIndex == 1}" href="javascript:" class="list-group-item list-group-item-action side-tabs">All JDs</a>
        <a [routerLink]="['/job']" (click)="selectedIndex =2;activateClass(2)" [ngClass]="{'active': selectedIndex == 2}" href="javascript:" class="list-group-item list-group-item-action side-tabs active" style="background:#9E4587">My JDs</a>
        <a [routerLink]="['/job']" (click)="selectedIndex =3;activateClass(3)" [ngClass]="{'active': selectedIndex == 3}"  href="javascript:" class="list-group-item list-group-item-action side-tabs">FAQs/Help</a>
      </div>
    </div>

