<div class="bg-light" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a [routerLink]="['/job']" href="javascript:" class="list-group-item list-group-item-action bg-light side-tabs">All JDs</a>
        <a [routerLink]="['/job']" href="javascript:" class="list-group-item list-group-item-action side-tabs active" style="background:#9E4587">My JDs</a>
        <a [routerLink]="['/job']" href="javascript:" class="list-group-item list-group-item-action bg-light side-tabs">FAQs/Help</a>
      </div>
    </div>

