<div *ngIf="isDataFetched">
  <div class="row">
    <div class="col-md-6">
      <form
        [formGroup]="jobDescriptionForm"
        class="container p-3 my-3 bg-dark text-white col-md-12"
        (ngSubmit)="onSave()"
      >
      <div class="col-sm-12">
        <h5>About</h5>
        <p style="color:gray">{{jobDescriptionForm.controls.about.value}}</p>
        <hr>
        <h5>Tags</h5>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                     [removable]="removable" (removed)="remove(tag)">
              {{tag.TagName}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New tag..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
        <p style="color:gray">{{jobDescriptionForm.controls.about.value}}</p>
        <h5>Designation</h5>
        <select name="demo" class="browser-default custom-select" formControlName="selectedDesignation">
          <option *ngFor = "let designation of designations" [value]="designation.Id">{{designation.DesignationName}}</option>
          </select>
        <hr>
        <h5>Experience</h5>
        <select name="demo" class="browser-default custom-select" formControlName="selectedExperience">
          <option *ngFor = "let experience of experiences" [value]="experience.Id">{{experience.ExperienceName}}</option>
          </select>
        <hr>
        <h5>Location</h5>
        <select name="demo" class="browser-default custom-select" formControlName="selectedLocation">
          <option *ngFor = "let location of locations" [value]="location.Id">{{location.LocationName}}</option>
          </select>
        <hr>
        <h5>Mandatory</h5>
        <div formArrayName="mandatorySkills"
        *ngFor="let skill of jobDescriptionForm.get('mandatorySkills')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-sm-9 col-md-9 col-lg-9">
                <input *ngIf='skill.isEditing' formControlName="SkillName" placeholder="Item name">
                <p *ngIf='!skill.isEditing' style="color:gray">{{skill.controls.SkillName.value}}</p>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <i class="fa fa-angle-double-down icon-right-side" title="Move To Desired" (click)="moveToDesired(skill.controls,i)"></i>
                <i class="fa fa-trash icon-right-side" (click)='deleteSkill(skill.controls,i)' aria-hidden="true" title="Delete"></i>
                <i class="fa fa-pencil-square-o icon-right-side" aria-hidden="true" (click)='skill.isEditing = true' title="Edit"></i>


              </div>
            </div>
          </div>
        </div>
        <i
          (click)="addMandatorySkill()"
          class="fa fa-plus-square fa-lg"
          aria-hidden="true"
          title="Add more mandatory skill"
        ></i>
        <hr>
        <h5>Desired</h5>
        <div formArrayName="desiredSkills"
        *ngFor="let skill of jobDescriptionForm.get('desiredSkills')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-sm-9">
                <input *ngIf='skill.isEditing' formControlName="SkillName" placeholder="Item name">
                <p *ngIf='!skill.isEditing' style="color:gray">{{skill.controls.SkillName.value}}</p>
              </div>
              <div class="col-sm-3">
                <i class="fa fa-angle-double-up icon-right-side" aria-hidden="true" title="Move To Desired" (click)="moveToMandatory(skill.controls,i)"></i>
                <i class="fa fa-trash icon-right-side" (click)='deleteDesiredSkill(skill.controls,i)' aria-hidden="true" title="Delete"></i>
                <i class="fa fa-pencil-square-o icon-right-side" aria-hidden="true" (click)='skill.isEditing = true' title="Edit"></i>


              </div>
            </div>
          </div>
        </div>
        <hr>
        <h5>Qualifications</h5>
        <div formArrayName="qualifications"
        *ngFor="let item of jobDescriptionForm.get('qualifications')['controls']; let i = index;">
          <div [formGroupName]="i">
            <input *ngIf='item.isEditing' formControlName="Name" placeholder="Qualification">
            <i class="fa fa-pencil-square-o icon-right-side" aria-hidden="true" (click)='item.isEditing = true' title="Edit"></i>
            <i class="fa fa-trash icon-right-side" aria-hidden="true" title="Delete" (click)='deleteQualification(item.controls,i)'></i>
            <p *ngIf='!item.isEditing' style="color:gray">{{item.controls.Name.value}}</p>
          </div>
        </div>
        <i
          (click)="addQualification()"
          class="fa fa-plus-square fa-lg"
          aria-hidden="true"
        ></i>
        <hr>
        <h5>Roles & Responsibility</h5>
        <div formArrayName="rolesAndResponsibility"
        *ngFor="let item of jobDescriptionForm.get('rolesAndResponsibility')['controls']; let i = index;">
          <div [formGroupName]="i">
            <input *ngIf='item.isEditing' formControlName="Responsibility" placeholder="Role and Responsibility">
            <i class="fa fa-pencil-square-o icon-right-side" aria-hidden="true" (click)='item.isEditing = true' title="Edit"></i>
            <i class="fa fa-trash icon-right-side" aria-hidden="true" title="Delete" (click)='deleteResponsiblity(item.controls,i)'></i>
            <p *ngIf='!item.isEditing' style="color:gray">{{item.controls.Responsibility.value}}</p>
          </div>
        </div>
        <i
          (click)="addResponsibility()"
          class="fa fa-plus-square fa-lg"
          aria-hidden="true"
        ></i>


        <input (click)="onSave()" type="button" value="Save" class="icon-right-side"/>

        </div>

      </form>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered p-3 my-3">
        <thead>
          <tr>
            <th scope="col">Candidate Count</th>
            <th scope="col">Match Score</th>
          </tr>
        </thead>
        <tbody>
          <tr class="noBorder">
            <td>30</td>
            <td>100</td>
          </tr>
          <tr class="noBorder">
            <td>50</td>
            <td>90</td>
          </tr>
          <tr class="noBorder">
            <td>120</td>
            <td>80</td>
          </tr>
          <tr>
            <td>1100</td>
            <td>All</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
