/* You can add global styles to this file, and also import other style files */
// * {
//   font-family: Raleway /* Replace with your custom font */, sans-serif !important;
//   /* Add !important to overwrite all elements */
// }
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.icon-right-side{
  float: right;
  margin-right: 5px;
}
.page-header{
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
