
tr.noBorder td {
  border: 0;
}
.example-chip-list {
  width: 100%;
}
.gray-theme-color{
  color:#979797
}
.dark-gray-theme-color{
  color:#5A5959
}
.fixed-header{
  background: white;
  position: fixed;
  top:0;
  z-index:1;
  width: 100%;
  border-bottom: solid 1px;
}
