
tr.noBorder td {
  border: 0;
}
.example-chip-list {
  width: 100%;
}
.gray-theme-color{
  color:#979797
}
.dark-gray-theme-color{
  color:#5A5959
}
.fixed-header{
  background: white;
  position: fixed;
  top:0;
  z-index:1;
  width: 100%;
  border-bottom: solid 1px;
}
// .mat-form-field /deep/ .mat-form-field-wrapper  {
//   padding-bottom: 0;
// }
.side-tabs{
  background-color: #333333 !important;
  color: white;
  border-color: gray;
}
// .active{
//   background: #9E4587 !important;
// }

#header{
  background: #333333;
}
.theme-color-btn{
  background: #9E4587;
  border: none;
  color: white;
}
.theme-color-lt-btn{
  background: #D95792;
  border: none;
}
.theme-secondary-btn{
  border: 1px solid;
  color: #9E4587;
  background: white;
}
.btn{
  border-radius: inherit
}
.mat-standard-chip{
  height: inherit;
}
/deep/ .mat-option-text
{
    line-height: initial;
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
}
.mat-option.mat-active {
  background: darkgray;
}
/deep/ textarea.mat-input-element{
  height: auto;
  page-break-inside: avoid !important;
  overflow: hidden !important;
  line-height: 16px;
}
 /deep/ .mat-form-field-underline {
  height: 1px;
  top: 90%;
}
// .ellipsis {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
// }

// p.block {
//   height: 20%;
// }
.html2canvas-container { width: 3000px !important; height: 3000px !important; }
/* Desktop View */
@media only screen and (min-width: 600px) {
  i {
    color:#9E4587
  }
  .theme-color{
    color: #D95792;
  }
}
/* Mobile view */
@media only screen and (max-width: 600px) {
  i {
    color:#CE353D;

  }
  .theme-color{
    color: #CE353D;
  }
}





//Pdf css
#content-pdf h2{
  color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none
}
#content-pdf p{
  font-size:25px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none
}


